.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__azXT {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__elrhZ {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__elrhZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__elrhZ > :global(.__wab_flex-container) > *,
.freeBox__elrhZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__elrhZ > :global(.__wab_flex-container) > picture > img,
.freeBox__elrhZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___50FUj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___50FUj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___50FUj > :global(.__wab_flex-container) > *,
.freeBox___50FUj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___50FUj > :global(.__wab_flex-container) > picture > img,
.freeBox___50FUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.textInput___5TkO:global(.__wab_instance) {
  position: relative;
}
.svg__nuiJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hpnKd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.textInput__wqcAm:global(.__wab_instance) {
  position: relative;
}
.svg__rye2O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__z1T8X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.textInput__ihCa7:global(.__wab_instance) {
  position: relative;
}
.svg__kfGhG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fKnRx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__iPpa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: nb-DTWehOHg5 */;
}
.divider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__nVgzK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.text {
  position: relative;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
}
