.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox___1B6Ax {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___1B6Ax > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___1B6Ax > :global(.__wab_flex-container) > *,
.freeBox___1B6Ax > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1B6Ax > :global(.__wab_flex-container) > picture > img,
.freeBox___1B6Ax
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1B6Ax {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1B6Ax > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1B6Ax > :global(.__wab_flex-container) > *,
  .freeBox___1B6Ax > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1B6Ax > :global(.__wab_flex-container) > picture > img,
  .freeBox___1B6Ax
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__zfqQz {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__zfqQz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zfqQz > :global(.__wab_flex-container) > *,
.freeBox__zfqQz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zfqQz > :global(.__wab_flex-container) > picture > img,
.freeBox__zfqQz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__rtqld {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rtqld > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rtqld > :global(.__wab_flex-container) > *,
.freeBox__rtqld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rtqld > :global(.__wab_flex-container) > picture > img,
.freeBox__rtqld
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___99E6S {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___99E6S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___99E6S > :global(.__wab_flex-container) > *,
.freeBox___99E6S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___99E6S > :global(.__wab_flex-container) > picture > img,
.freeBox___99E6S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__numSs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
  flex-shrink: 0;
}
.svg__cPc1D {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
  flex-shrink: 0;
}
.svg__tqWAi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
  flex-shrink: 0;
}
.freeBox__g0Tjg {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__g0Tjg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__g0Tjg > :global(.__wab_flex-container) > *,
.freeBox__g0Tjg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g0Tjg > :global(.__wab_flex-container) > picture > img,
.freeBox__g0Tjg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__psXrl {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
  height: auto;
}
.button__giRjM:global(.__wab_instance) {
  position: relative;
}
.svg__fXf7I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jJzB2 {
  height: auto;
}
.svg___4LiPc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__th4:global(.__wab_instance) {
  position: relative;
}
.svg__vpoVi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hlWbt {
  height: auto;
}
.svg__ms2Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__v1QQ:global(.__wab_instance) {
  position: relative;
}
.svg__z8B8M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3BsKx {
  height: auto;
}
.svg___4FwTg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zjRFv:global(.__wab_instance) {
  position: relative;
}
.svg___2EOeZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___7ZQn {
  height: auto;
}
.svg__udBnF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__sp8Kb {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__sp8Kb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sp8Kb > :global(.__wab_flex-container) > *,
.freeBox__sp8Kb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sp8Kb > :global(.__wab_flex-container) > picture > img,
.freeBox__sp8Kb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__amaby {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
  height: auto;
}
.button__q8Rnf:global(.__wab_instance) {
  position: relative;
}
.svg__mQzb2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__v2FRs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__kjlAy:global(.__wab_instance) {
  position: relative;
}
.svg___9ERol {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___32WT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__kZxJt:global(.__wab_instance) {
  position: relative;
}
.svg__tiXti {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ee6I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__nPqx2 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__nPqx2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nPqx2 > :global(.__wab_flex-container) > *,
.freeBox__nPqx2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nPqx2 > :global(.__wab_flex-container) > picture > img,
.freeBox__nPqx2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___45E9I {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: llF0pEQEXExX */;
  height: auto;
}
.button__e7MDb:global(.__wab_instance) {
  position: relative;
}
.svg___7LkXh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fly7P {
  transition-property: all;
  transition-duration: 1s;
}
.svg__v7BeF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sZzCt:global(.__wab_instance) {
  position: relative;
}
.svg__rG3BX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2LgJp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___62Pov:global(.__wab_instance) {
  position: relative;
}
.svg___8Vw7E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__oC1FG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lnm13:global(.__wab_instance) {
  position: relative;
}
.svg__n5Xbt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3NteE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
